:root {
    --app-color: #235e54;
    --bg-color: #e5ddd5;
    --notification-color: #6be273;
    --msg-color: #dbf6c5;
}
html, body {
    height: 100%;
}
body {
    font-family: 'poppins';
    background-color: var(--bg-color);
    background-image: url('../images/bg.png');
}